.ant-result-title{
    color: white !important;
    font-family: "Georgia", serif !important;
    font-size: 32px !important;

}
.ant-result-subtitle {
    color: white !important;
    font-family: "Georgia", serif !important;
    font-size: 20px !important;
}
